body {
  background-color: #121212;
}

.Main-Header {
  font-size: 2.5rem;
  text-align: center;
  color: #EDD382;
  background-color: #222222;
  padding: 10px;

}



p {
  font-size: 1rem;
  line-height: 1.5rem;
}

img {

  width: 200px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 50%;
  border-color: #121212;
  border-width: 15px;

}

ul {
  list-style-type: disc;
  line-height: 1.5rem;
}

ol {
  line-height: 1.5rem;

}

h3 {
  font-size: 1.2rem;
}

.bio-header-2 {
  font-size: 2rem;

}

.bio-header {
  font-size: 1.8rem;
  padding-top: 10px;
  padding-bottom: 10px;

}

.bio-section {
  padding: 5px;
}

.bio-box {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  color: #EDD382;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.footer {
  display: flex;
  justify-content: center;
  max-width: 80%;
  height: 80%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: #EDD382;
}

a {
  color: #EDD382;
  line-height: 1.5rem;
}